@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    color-scheme: dark;
}

html {
    color-scheme: dark;
}

html, body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #050511;
    color: #cbd5e1;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-family: inherit;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #0c0c1d;
}

*::-webkit-scrollbar-thumb {
    background: #1e1e32;
    border-radius: 10px;
}
