.home{
    height: calc(100vh - 100px);
    width: 100%;
    overflow: hidden;
    background: linear-gradient(180dg, #0c0c1d, #111132);
    position: relative;

    .wrapper{
        width: 1366px;
        height: 100%;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        


        .textcontainer{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            position: absolute;
            width: 50%;

            h2{
                font-size: 60px;
                color: rebeccapurple;
                letter-spacing: 10px;
                overflow: hidden;
            }
            h1{
                font-size: 88px;
            }

            .buttons{
                button{
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                    color: wheat;
                    font-weight: bold;

                }
            }

            img{
                width: 50px;
                
            }
        }

    }

    .imageContainer{
        background: transparent;
        height: 200%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        
    }

    .slidingTextContainer{
        opacity: 0.3;
        position: relative;
        font-size: 50vh;
        bottom: -140px;
        white-space:nowrap;
        color: #ffffff09;
        width: 100%;
    }

  
   
}