.contact{

    .textContainer{
        
        h1{
            line-height: 80px;
        }

        span{
            font-weight: 300;
        }
    }
    .formContainer{

    

        form{
            display: flex;
            align-items: center;
            width: 100%;
            position: absolute;
            z-index: 10;
            flex-direction: column;
            gap: 20px;
            background-color: transparent;

            input,textarea{
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 5px;
            }
            button{
                padding: 20px;
                border: none;
                background-color: #ffa500;
                cursor: pointer;
                font-weight: 500;
                color: black;
            }
           
        }
        
    }
}