/* Footer.css */

.footer {
    color: #fff;
    text-align: center;
    opacity: 0.7;
    scroll-margin-top: 20px;

  
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  